body {
    margin: 0;
    background: url('https://i.imgur.com/ReOp2ie.jpg');
    background-size: 1920px 1080px;
    background-repeat: re;
   display: compact;
   font-family: 'Oswald', sans-serif;
  
   color: rgb(255, 255, 255)
}
